.grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  /* background-color: red; */
  width: 80%px;
  height: 660px;
}

.pokedex {
  height: 100%;
  grid-column: 2/5;
  grid-row: 1/11;
  z-index: 5;
}

.pokemon {
  margin-top: 53px;
  margin-left: 70px;
  width: 180px;
  grid-row: 3;
  grid-column: 2;
  z-index: 10;
}

.secret {
  filter: contrast(0) brightness(0) drop-shadow(8px 8px 10px gray);
}

.monitor {
  background-color: #003029;
  width: 320px;
  height: 320px;
  grid-row: 4;
  grid-column: 2;
  margin-left: 540px;
  z-index: 0;
}

.radio {
  color: white;
  grid-column: 2/9;
  grid-row: 4;
  margin-top: 20px;
  margin-left: 560px;
  z-index: 5;
}

.seta {
  width: 45px;
  height: 45px;
  border-radius: 4px;
}

.gridBTN {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  width: 140px;
  height: 140px;
}

.setinhas {
  grid-row: 8;
  grid-column: 2;
  z-index: 5;
  margin-top: 18px;
  margin-left: 270px;
}

.um {
  grid-row: 1;
  grid-column: 2;
  box-shadow: 0px 2px 0px black;
}

.dois {
  grid-row: 2;
  grid-column: 1;
  box-shadow: 0px 2px 0px black;
}

.tres {
  grid-row: 2;
  grid-column: 3;
  box-shadow: 0px 2px 0px black;
}

.quatro {
  grid-row: 3;
  grid-column: 2;
  box-shadow: 0px 2px 0px black;
}

.seta:active {
  background-color: rgb(100, 100, 100);
  box-shadow: none;
  transform: translateY(4px);
}

.revelar {
  margin-left: 557px;
  border-radius: 9px;
  grid-row: 9;
  grid-column: 2;
  z-index: 5;
  height: 66px;
  width: 275px;
  box-shadow: 0px 2px 0px black;
}

.revelar:active {
  background-color: rgb(100, 100, 100);
  box-shadow: none;
  transform: translateY(4px);
}

.pulaDica {
  width: 180px;
  display: grid;
  grid-template-columns: 2;
  grid-row: 8;
  grid-column: 2;
  z-index: 5;
  margin-left: 62px;
  margin-top: 40px;
}

.dica {
  height: 45px;
  margin-top: 10px;
  border-radius: 9px;
  box-shadow: 0px 2px 0px black;
}

.dica:active {
  background-color: rgb(100, 100, 100);
  box-shadow: none;
  transform: translateY(4px);
}

.pula {
  height: 45px;
  border-radius: 9px;
  box-shadow: 0px 2px 0px black;
}

.pula:active {
  background-color: rgb(100, 100, 100);
  box-shadow: none;
  transform: translateY(4px);
}
