body {
  font-family: 'Press Start 2P', cursive;
}

button {
  border: none;
}

.grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  height: 660px;
}

.pokebolaICO {
  width: 90px;
  grid-column: 2;
  grid-row: 1;
  z-index: 10;
  margin-top: 20px;
  margin-left: 30px;
}

.led {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 13px;
  border-radius: 50%;
  background-color: rgb(158, 158, 158);
}

.light {
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  margin-top: 1px;
  margin-left: 2px;
}

.leds{
  grid-column: 2;
  grid-row: 1;
  z-index: 10;
  margin-top: 20px;
  margin-left: 120px;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    background-color: green;
  }
}

.pokedex {
  height: 100%;
  grid-column: 2/5;
  grid-row: 1/11;
  z-index: 5;
}

.pokemon {
  margin-top: 75px;
  margin-left: 89px;
  max-height: 130px;
  max-width: 150px;
  grid-row: 3;
  grid-column: 2;
  z-index: 10;
}

.secret {
  filter: contrast(0) brightness(0) drop-shadow(8px 8px 10px gray);
}

.monitor {
  background-color: #003029;
  width: 320px;
  height: 320px;
  grid-row: 4;
  grid-column: 2;
  margin-left: 540px;
  z-index: 0;
}

.miniMonitor {
  background-color: #003029;
  width: 200px;
  height: 52px;
  grid-column: 2;
  grid-row: 7;
  margin-top: 3px;
  margin-left: 171px;
  border-radius: 5px;
  z-index: 10;
}

.errou {
  animation: text-flicker 2s linear infinite;
  text-align: center;
  font-size: 23px;
  grid-column: 2;
  grid-row: 7;
  z-index: 11;
  margin-top: 10px;
}

.acertou {
  animation: acertou-flicker 2s linear infinite;
  text-align: center;
  font-size: 23px;
  grid-column: 2;
  grid-row: 7;
  z-index: 11;
  margin-top: 10px;
}


@keyframes text-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    color: red;
  }
  
  2% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    color: red;
  }
  8% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    color: red;
  }
  9% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    color: red;
  }
  12% {
    opacity:0.1;
    text-shadow: 0px 0px rgba(242, 22, 22, 1);
    color: red;
  }
  20% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    color: red;
  }
  25% {
    opacity:0.3;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  30% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  
  70% {
    opacity:0.7;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  
  72% {
    opacity:0.2;
    text-shadow:0px 0px 29px rgba(242, 22, 22, 1);
  }
  
  77% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  100% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
}

@keyframes acertou-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgb(66, 242, 22);
    color: green;
  }
  
  2% {
    opacity:1;
    text-shadow: 0px 0px 29px rgb(59, 242, 22);
    color: green;
  }
  8% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgb(66, 242, 22);
    color: green;
  }
  9% {
    opacity:1;
    text-shadow: 0px 0px 29px rgb(55, 242, 22);
    color: green;
  }
  12% {
    opacity:0.1;
    text-shadow: 0px 0px rgb(66, 242, 22);
    color: green;
  }
  20% {
    opacity:1;
    text-shadow: 0px 0px 29px rgb(59, 242, 22);
    color: green;
  }
  25% {
    opacity:0.3;
    text-shadow: 0px 0px 29px rgb(59, 242, 22);
    color: green;
  }
  30% {
    opacity:1;
    text-shadow: 0px 0px 29px rgb(66, 242, 22);
    color: green;
  }
  
  70% {
    opacity:0.7;
    text-shadow: 0px 0px 29px rgb(66, 242, 22);
    color: green;
  }
  
  72% {
    opacity:0.2;
    text-shadow:0px 0px 29px rgb(77, 242, 22);
    color: green;
  }
  
  77% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgb(29, 242, 22);
    color: green;
  }
  100% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgb(40, 242, 22);
    color: green;
  }
}

.radio {
  color: rgb(173, 153, 153);
  grid-column: 2/9;
  grid-row: 4;
  margin-top: 20px;
  margin-left: 560px;
  z-index: 5;
}

.seta {
  width: 46px;
  height: 46px;
  border-radius: 4px;
}

.gridBTN {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  width: 140px;
  height: 140px;
}

.setinhas {
  grid-row: 8;
  grid-column: 2;
  z-index: 5;
  margin-top: 40px;
  margin-left: 280px;
  height: 80px;
  width: 80px;
}

.cima {
  grid-row: 1;
  grid-column: 2;
  box-shadow: 0px 4px 0px black;
  clip-path: polygon(50% 100%, 100% 50%, 100% 0%, 0 0%, 0% 50%);
  z-index: 10;
}

.esquerda {
  grid-row: 2;
  grid-column: 1;
  box-shadow: 0px 2px 0px black;
  clip-path: polygon(50% 100%, 0% 100%, 0% 0%, 50% 0%, 100% 50%)
}

.direita {
  grid-row: 2;
  grid-column: 3;
  box-shadow: 0px 2px 0px black;
  clip-path: polygon(50% 100%, 100% 100%, 100% 0%, 50% 0%, 0% 50%);
}

.baixo {
  grid-row: 3;
  grid-column: 2;
  box-shadow: 0px 2px 0px black;
  clip-path: polygon(50% 0%, 100% 50%, 100% 100%, 0 100%, 0% 50%);
}

.seta:active {
  background-color: rgb(100, 100, 100);
  box-shadow: none;
  transform: translateY(4px);
}

.revelar {
  margin-left: 557px;
  border-radius: 9px;
  grid-row: 9;
  grid-column: 2;
  z-index: 5;
  height: 66px;
  width: 275px;
  box-shadow: 0px 2px 0px black;
}

.revelar:active {
  background-color: rgb(100, 100, 100);
  box-shadow: none;
  transform: translateY(4px);
}

.pulaDica {
  width: 180px;
  display: grid;
  grid-template-columns: 2;
  grid-row: 8;
  grid-column: 2;
  z-index: 5;
  margin-left: 62px;
  margin-top: 40px;
}

.dica {
  height: 45px;
  margin-top: 10px;
  border-radius: 9px;
  box-shadow: 0px 2px 0px black;
}

.dica:active {
  background-color: rgb(100, 100, 100);
  box-shadow: none;
  transform: translateY(4px);
}

.pula {
  height: 45px;
  border-radius: 9px;
  box-shadow: 0px 2px 0px black;
}

.pula:active {
  background-color: rgb(100, 100, 100);
  box-shadow: none;
  transform: translateY(4px);
}

.radioContainer {
  display:flex;
  margin-top: 20px;
}

.testDica {
  background-color: #021d19;
  width: 220px;
}

.miniled {
  height: 10px;
  width: 10px;
  background-color: rgb(160, 160, 160);
  border-radius: 50%;
  display: inline-block;
  margin-left: 8px;
}

.ledsDois {
  z-index: 10;
  grid-column: 2;
  grid-row: 3;
  margin-top: 30px;
  margin-left: 190px;
}
.minileds {
  animation: led 2s linear infinite;
}

@keyframes led {
  50% {
    background-color: rgb(255, 0, 0);
  }
}

.placar {
  color: white;
  grid-column: 2;
  grid-row: 8;
  z-index: 10;
  margin-left: 798px;
  margin-top: 23px;
}